
/* importing boostrap cdn  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    font-family: 'poppins', 'serif';
}
.pre-nav-bg{
    background-color: rgb(44, 44, 44);
}

.pre-nav .bi{
    color: #fff;
}
.pre-nav h4{
    color: #fff;
    font-size: .7rem;
}
.header{
    padding: 15px 0;
    position: relative;
}
.header, .header-right, .social, .pre-info, .pre-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: rgb(241, 241, 241);
    
}
.header-search{
    display: flex;
    align-items: center;
}

#logo img{
    width: 100px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav ul li a:active{
    border-bottom: 3px solid blue;
    color: blue;
}
nav ul li a:hover{
    border-bottom: 3px solid blue;
    text-decoration: none;
    color: blue;
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
    color: rgb(43, 43, 43);
    text-transform: capitalize;
}
.header-right input{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
}
.header-search .bi{
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
    padding: 2px 5px;
    color: #555;
    border-radius: 5px;
}
.header-search .bi:hover{
    color: yellow;
    background-color: #555;
}
.header-right .gh{
    cursor: pointer;
    padding: 2px 5px;
    margin-top: 10px;
    border-radius: 5px;
    color: grey;
    font-size: 1.2rem;
}
.header-right .gh:hover{
    color: #fff;
    background-color: grey;
}




/* banner section  */
.banner{
    background-image: url(./resources/img/banner.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    display: flex;
    align-items: center;
    color: #fff;
}
.banner p{
    max-width: 500px;
}





/* mobile styles  */
.mobile-btn{
    display: none;
}
.mobile-nav{
    display: none;
}



/* responsiveness  */
@media (max-width: 1200){
    .header-right input{
        display: none;
    }
}

@media (max-width: 480px) {
    .mobile-btn{
        display: block;
        font-size: 2.5rem;
    } 
    nav, .header-right{
        display: none;
    }
    .pre-nav-bg{
        display: none;
    }
    .header{
        padding: 5px 10px;
        align-items: center;
    }
    .banner{
        height: 60vh;
    }
    .mobile-nav{
        position: absolute;
        top: 0;
        background-color: black;
        width: 100%;
    }
    .mobile-nav ul li{
        list-style: none;
        margin: 5px 2px;
        left: 0;
    }
    .mobile-nav ul li a{
        color: #fff;
        font-size: 1.3rem;
        text-decoration: none;
        margin-left: 0;
    }
    .mobile-nav p{
        text-align: right;
        font-size: 3rem;
    }
}


@media (max-width: 768px){
    .mobile-btn{
        display: block;
        font-size: 2.5rem;
    } 
    nav, .header-right{
        display: none;
    }
    .pre-nav-bg{
        display: none;
    }
    .header{
        padding: 5px 10px;
        align-items: center;
    }
    .banner{
        height: 60vh;
    }
    .mobile-nav{
        display: none;
        position: absolute;
        top: 0;
        background-color: black;
        width: 100%;
    }
    .mobile-nav ul li{
        list-style: none;
        margin: 5px 2px;
        left: 0;
    }
    .mobile-nav ul li a{
        color: #fff;
        font-size: 1.3rem;
        text-decoration: none;
        margin-left: 0;
    }
    .mobile-nav p{
        text-align: right;
        font-size: 3rem;
    }
}